* {
  box-sizing: border-box;
}
body {
  background-color: beige;
}

nav {
  background-color: blanchedalmond;
  border-bottom: 2px black solid;
  height: 50px;
  padding: 5px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: black;
  font-size: 2em;
  padding: 5px;
}

div {
  width: 85%;
  margin: auto;
}

section {
  background-color: blanchedalmond;
  padding: 10px;
  border: 2px black solid;
  margin: 5px;
}

section h2 {
  margin-top: 2px;
}

header {
  text-align: center;
  margin-top: 60px;
}

h1 {
  margin-bottom: 1px;
}

img {
  border: 2px solid black;
}

form {
  background-color: blanchedalmond;
  width: 75vw;
  padding: 3px;
  margin: auto;
  border: 2px solid black;
}

.form {
  width: 50vw;
  padding: 3px;
  margin: auto;
  display: grid;
}

.nav {
  text-align: right;
}

@media screen and (max-width: 400px) {
  nav {
    height: 85px;
  }
  header {
    margin-top: 90px;
  }
}

@media screen and (max-width: 300px) {
  nav {
    height: 125px;
  }
  header {
    margin-top: 130px;
  }
  input{
    width: 100%;
  };
}

a:hover {
  color: blue;
}

